* {
  margin: 0;
  padding: 0;
  
}

body{
  background-color: aliceblue;

}



.container {
  background-image: url(../public/background-img.webp);
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 100%;



  height: 100vh;
  overflow: hidden;
  display: flex;
}


.wrapper {
  width: 600px;
  height: 400px;
  margin: auto;
  background-color: rgb(255, 255, 255, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  color: #445A6F;
  margin: 40px 0;
}

input {
  margin: 20px 0;
  width: 300px;
  padding: 8px;
}

input:focus-visible {
  outline: none;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #445A6F;
  border: 1px solid #445A6F;
  color: #fff;
  font-size: 20px;
  margin: 30px 0;
}